@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}
<h1>
    @Html.MvcSiteMap().SiteMapPath()
</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TercerNivel</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
